*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    /*Quitamos todos las caracteristicas q vienen por defecto en el html*/
} 


#contenedorPadre{
    /*border: 2px solid black;*/
    height: 575px;
    background-color: white;

}

#contenedorHijo{
    padding-left: 70px;
    padding-right: 50px;
}


