body{
    background-color: rgb(239, 247, 247);
}

#header-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

#navbar-container{
    display: flex;
    justify-content: space-around;
    width: 503px;
    height: 52px;
    margin-top: 100px;
    list-style: none;
}

